@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap");

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: max-content;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  height: 180px;

  margin: -10px;
  background-color: #b9cbed;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: rgb(43, 43, 43);
  font-weight: 700;
  margin: 10px;
  margin-top: 20px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 27px;
  color: rgb(43, 43, 43);
  font-weight: 600;
  margin: 10px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(43, 43, 43);
  font-weight: 400;
  margin: 10px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 6px;
  color: rgb(43, 43, 43);
  font-weight: 300;
  margin: 10px;
}

.title {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  text-align: center;
}

.date-picker {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 60px;
  background-color: rgb(228, 233, 254);
  margin: 30px auto;
  box-shadow: 0px 1px 3px rgb(211, 211, 211);

  cursor: pointer;
  user-select: none;
}

.date-picker:hover {
  background-color:rgb(214, 222, 255);
}

.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 28px;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(249, 250, 255);
}

.date-picker .dates.active {
  display: block;
}

.date-picker .dates .month {
  font-family: "Raleway", sans-serif;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-picker .dates .month .arrow-prev {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #313131;
	font-size: 20px;

  background-color: rgb(249, 250, 255);
}

.date-picker .dates .month .arrow-next {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #313131;
	font-size: 20px;

  background-color: rgb(249, 250, 255);
}

.date-picker .dates .month .arrow-prev:hover {
	background-color: rgb(240, 243, 255);
}

.date-picker .dates .month .arrow-prev:active {
	background-color: rgb(219, 226, 255);
}

.date-picker .dates .month .arrow-next:hover {
	background-color: rgb(240, 243, 255);
}

.date-picker .dates .month .arrow-next:active {
	background-color: rgb(219, 226, 255);
}
.date-picker .dates .days {
  display: grid;
  height: 200px;
  grid-template-columns: repeat(7, 1fr);
}

.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}
/*
.date-picker .dates .days .day .selected {
  background-color: #00ca85;
}
*/